body{
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #a9a9a959;
}

/*Global styling*/
.container{
    width: 60%;
    margin: auto;
    overflow: hidden;
}

/*Styling the header + navbar*/
#header{
    padding: 70px;
}
#navbar{ 
    overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100px;
}
#navbar ul{
    float: right;
    margin-top: 40px;
}
#navbar li{
    display: inline;
    padding: 40px;
}
#navbar a{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: none;
}
#navbar a:hover{
    color: #1e90ff;
}

/*Styling the general-info #index.html*/
#general-info h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ff0000b7;
}

/*Styling newsletter #index.html*/
#newsletter{
    margin-top: 60px;
}

#newsletter h4{
    float: left;
    text-decoration: underline;
    font-size: 20px;
}
#form-1{
    float: right;
}
#button{
    background-color: #1e90ff;
    border-radius: 5px;
}
#form-1 input[type="email"]{
    border-radius: 1px;
}

/*Styling the flex-container + imgs #leagues.html*/
#nhl-logo{
    width: 300px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#nhl h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}
#khl-logo{
    width: 300px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#khl{
    margin-top: 100px;
}
#khl h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ff0000ea;
    text-decoration: underline;
}   


#presenting{
    margin-top: 100px;
    text-align: center;
    text-decoration: underline;
    color: #0982fcf5;
}
.flex-container{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.box{
    border: 3px red solid;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*Styling the goal.html page*/
/*Main column + sidebar*/
#main-column{
    width: 60%;
    float: left;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: #008000d7;
    border-radius: 5px;
    border: 5px red solid;
    padding: 10px;
}

















/*Styling the footer. Global for all pages*/
#footer{
    margin-top: 70px;
    text-align: center;
    padding: 20px;
    background-color: dodgerblue;
    width: 100%;
}
